.login {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  height: 75%;
  width: auto;
}

.passage {
  height: fit-content;
  width: 30%;
  margin: auto 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}

passage-auth {
  --passage-container-margin: 0;
  --passage-container-max-width:100%;
  --passage-header-font-family:'ChequeBold';
  --passage-header-text-color: white;
  --passage-container-background-color: #99E1DD;
  --passage-body-font-family:font-family: 'Roboto', sans-serif;
}

passage-auth::part(button) {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  background-color: #0f283c;
  letter-spacing: 3px;
}
